@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        line-height: 1.6;
    }

    img {
        max-width: 600px;
        height: auto;
    }

    #menu_anchor ul,
    .gallery,
    .desc {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        margin-right: 0;
    }

    .gallery a, .desc {
        display: block;
        margin: 10px auto;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white; 
        z-index: 1000; 
        display: block;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center; 
        padding: 10px 0; 
    }

    .menu a {
        display: block;
        text-decoration: none;
        padding: 10px 15px;
    }

    body {
        padding-top: 80px;
    }

}
